body {
   margin: 0;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;}


.btn{
    width: 20%;
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;

}
.underline {
    border-bottom: 4px solid white;
}
#spacex {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    margin-top: 50px;
}
.hero {
    background-image: url("https://media.giphy.com/media/FY9chKp6rulXy/giphy.gif");
    background-size: cover;
    padding: 10px 0 40px 0;
}
h3 {
    color: black;
}